<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Today, A reaches millions of hearts and homes all over the world, but every success story has to start somewhere. Did you know that A once was as a tiny business in Älmhult, a small Swedish village in the countryside,
   selling through a mail-order catalogue? And that the A headquarters for design are still located there? Here’s our st
</p>
