<div class="row">
  <% if @microposts.current_page==1 %>
    <div id="home" class="big-bg">
    </div>
  <% end %>
    <h3>New arrival</h3>
    <%= will_paginate @microposts %>
    <nav class="inline-block-post">
      <%= render @microposts %>
    </nav>
  <%= will_paginate @microposts %>
</div>
