<div class="row">
  <% if @microposts.current_page==1 %>
  <div class="top-wrapper">
    <ul class="slider">
        <li><img src="assets/interior.png" alt="image01"></li>
        <li><img src="assets/log-house.png" alt="image02"></li>
        <li><img src="assets/sea-view.jpg" alt="image03"></li>
        <li><img src="assets/japan-window.jpg" alt="image04"></li>
        <li><img src="assets/modern.jpg" alt="image05"></li>
    </ul>
    <p>Room Design Library</p>
  </div>
  <% end %>

    <div class="field">
      <div class="col-md-12">
        <div class="col-md-5">
          <h3>New arrival</h3>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <p><br></p>
        </div>
      </div>
    </div>
    <ul class="inline-block-post jscroll">
      <%= render @microposts %>
      <%= paginate @microposts %>
    </ul>
</div>
