<div class="row">
    <div id="home" class="big-bg">
    <h1 class="page-title">Room Dsign Library</h1>
    </div>
    <h3>New arrival</h3>
    <%= will_paginate @microposts %>
    <nav class="inline-block-post">
      <%= render @microposts %>
    </nav>
  <%= will_paginate @microposts %>
</div>
