<div class="row">
  <% if @microposts.current_page==1 %>
    <div id="home" class="big-bg">
    </div>
  <% end %>
    <div class="field">
      <div class="col-md-12">
        <div class="col-md-5">
          <h3>New arrival</h3>
          <%= will_paginate @microposts %>
        </div>
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
          <p><br></p>

        </div>
      </div>
    </div>
    <nav class="inline-block-post">
      <%= render @microposts %>
    </nav>
  <%= will_paginate @microposts %>
</div>
